{% extends "backend_layout.html" %}
{% load search %}
{% block title %}报障管理{% endblock %}
{% block css %}
    <style>
        .conditions a.active{
            background-color: #b35215;
            color: #ffffff;
        }

        .conditions a{
            display: inline-block;
            padding: 2px 5px;
            margin-left: 5px;
    }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="#">报障管理</a></li>
        <li class="active">故障列表</li>
    </ol>
    <div>

        <div class="clearfix"
             style="height: 36px;line-height: 35px;padding: 0 15px;border-top: 1px solid #dddddd;background-color: #f1f0f0">
            <i class="fa fa-table" aria-hidden="true"></i>
            累计故障({{ data_count }}个)
            <a target="_blank" href="/backend/trouble-create.html" class="right"
               style="display: inline-block;padding:0 10px;background-color: #428bca;color: #ffffff;">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                创建报障单
            </a>
        </div>


<table class="table table-bordered">
            <thead>
            <tr>
                <th>故障名称</th>
                <th>状态</th>
                <th>提交时间</th>
                <th>提交人</th>
                <th>处理人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for row in trouble_list %}
                <tr id="{{ row.id }}">
                    <td><a href="#"></a>{{ row.title }}</td>
                    <td>{{ row.get_status_display }}</td>
                    <td>{{ row.create_time|date:"Y-m-d H:i:s"}}</td>
                    <td>{{ row.user }}</td>
                    {% if row.processor %}
                        <td>{{ row.processor }}</td>
                    {% else %}
                        <td>无</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-danger btn-xs" href="/backend/delete-trouble-{{ row.id }}.html">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            删除
                        </a>
                        |
                        <a class="btn btn-primary btn-xs" href="/backend/trouble-edit-{{ row.id }}.html">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="clearfix">
            <ul class="pagination right" style="margin-top: 0">
               {{ page_str }}
            </ul>
        </div>
    </div>
{% endblock %}